# Sao chép file này thành .env và điền API key của bạn.
# Bạn có thể đăng ký tài khoản miễn phí tại https://finnhub.io/ để lấy FINNHUB_API_KEY.
FINNHUB_API_KEY=d753tm9r01qg1eo7he8gd753tm9r01qg1eo7he90

flutter pub get
flutter run
